CS/CS.WpfPresentation/Service References/CurrencyService/CurrencyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CS.Service.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CS.Service.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCurrencyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyDTO" nillable="true" type="tns:CurrencyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyDTO" nillable="true" type="tns:ArrayOfCurrencyDTO" />
  <xs:complexType name="CurrencyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyDTO" nillable="true" type="tns:CurrencyDTO" />
  <xs:complexType name="TimeRangeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="First" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Last" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeRangeDTO" nillable="true" type="tns:TimeRangeDTO" />
  <xs:complexType name="ArrayOfRateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RateDTO" nillable="true" type="tns:RateDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRateDTO" nillable="true" type="tns:ArrayOfRateDTO" />
  <xs:complexType name="RateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateDTO" nillable="true" type="tns:RateDTO" />
</xs:schema>